canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 120px;
  height: 30px;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;
  text-decoration: none;
  margin: 10px;
  border-radius: 17px;
  transform: translateZ(20px);
}

.socials:hover {
  box-shadow: 2px 2px 2px 2px dimgray;
  background: linear-gradient(45deg, #a8c0ff,#3f2b96);
}

#me {
  color: white;
  font-size: 35pt;
  /* margin: 20px; */
}
#about {
  color: white;
  font-size: 25pt;
  margin-top: 5px;
  margin-bottom: 20px;
}

.socialIcon {
  margin: 15px 2px;
}

.tilt {
  transform-style: preserve-3d;
}
